<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>Cedula</th>
				<th>Nombre</th>
				<th>Genero</th>
				<th>Apellido</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="personas:${personas}">
				<td th:text="${personas.cedula}"></td>
				<td th:text="${personas.nombre}"></td>
				<td th:text="${personas.genero}"></td>
				<td th:text="${personas.apellido}"></td>
			</tr>
		</tbody>
	</table>


</body>

</html>